body {
  background-color: black;
  color: white;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"><circle cx="8" cy="8" r="8"/></svg>'), auto;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: wite;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}